    </main>
    <footer class="site-footer">
      <div class="site-shell footer-grid">
        <div>
          <div class="footer-brand">MEL Lab</div>
          <p>Measurement Engineering Laboratory<br>Department of Electrical and Computer Engineering, Inha University</p>
        </div>
        <div>
          <p>Hi-Tech Center, 100 Inha-ro<br>Michuhol-gu, Incheon 22212, Korea</p>
          <a href="mailto:dyukim@inha.ac.kr">dyukim@inha.ac.kr</a>
        </div>
      </div>
      <div class="site-shell footer-bottom">© {{ site.time | date: '%Y' }} MEL Lab. All rights reserved.</div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/site.js"></script>
  </body>
</html>
